 body {
     margin: 0;
     font-family: "Arial", sans-serif;
     background-color: #0d4fa3;
     color: white;
 }

 header {
     background-color: rgb(26, 93, 164);
     padding: 25px 0;
     text-align: center;
     color: white;
     font-size: 32px;
     font-weight: bold;
 }

 nav {
     text-align: center;
     padding: 10px;
     background-color: rgb(26, 93, 164);
 }

 nav a {
     color: white;
     margin: 0 20px;
     font-size: 18px;
     text-decoration: none;
     font-weight: bold;
 }

 nav a:hover {
     text-decoration: underline;
 }

 .contato-box {
     width: 60%;
     margin: 50px auto;
     background-color: #ffffff;
     color: #0b3f85;
     padding: 30px;
     border-radius: 10px;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
 }

 .contato-box h2 {
     text-align: center;
     font-size: 28px;
     margin-bottom: 20px;
 }

 label {
     font-weight: bold;
     font-size: 16px;
 }

 input,
 textarea {
     width: 100%;
     padding: 12px;
     margin: 10px 0 20px 0;
     border-radius: 8px;
     border: 2px solid #0b3f85;
     font-size: 16px;
 }

 button {
     width: 100%;
     padding: 15px;
     background-color: rgb(26, 93, 164);
     color: white;
     border: none;
     border-radius: 8px;
     font-size: 18px;
     cursor: pointer;
     font-weight: bold;
 }

 button:hover {
     background-color: #093566;
 }